<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicationMaintenance</servlet-name>
        <servlet-class>Servlets.PublicationMaintenance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceUserData</servlet-name>
        <servlet-class>Servlets.MaintenanceUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Filter</servlet-name>
        <servlet-class>Servlets.Filter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>Servlets.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Servlets.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventMaintenance</servlet-name>
        <servlet-class>Servlets.EventMaintenance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsMaintenance</servlet-name>
        <servlet-class>Servlets.NewsMaintenance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Settings</servlet-name>
        <servlet-class>Servlets.Settings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calendar</servlet-name>
        <servlet-class>Servlets.Calendar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicationMaintenance</servlet-name>
        <url-pattern>/PublicationMaintenance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceUserData</servlet-name>
        <url-pattern>/MaintenanceUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Filter</servlet-name>
        <url-pattern>/Filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventMaintenance</servlet-name>
        <url-pattern>/EventMaintenance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsMaintenance</servlet-name>
        <url-pattern>/NewsMaintenance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Settings</servlet-name>
        <url-pattern>/Settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calendar</servlet-name>
        <url-pattern>/Calendar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
